.landingpage {
  background-color: red;
  text-align: center;
}

img {
  width: 400px;
  height: 400px;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
}

p {
  font-family: Verdana, Geneva, sans-serif;
}
