.landingpage {
  background-color: red;
  text-align: center;
}

img {
  height: 995px;
  width: 995px;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
}

p {
  font-family: Verdana, Geneva, sans-serif;
}
